<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home | <%- title %></title>
    <%- include('components/head.ejs', {page: "index"}); %>
  </head>
  <body>
    <%- include('components/topbar.ejs', {page: "index"}); %>
  </body>
</html>
